<a href="https://colab.research.google.com/github/JeromeCheon/gcs_AIproject/blob/master/assignments/1st_python_tutorial_quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Q1. fruit 이라는 list 안에 다양한 과일이 들어가 있어요. 이 과일들이 몇개 있는지를 dictionary 형태로 저장해봅시다! 

- key : 과일이름, value : 과일개수

```
# 정답
{'apple': 5, 'banana': 3, 'blueberry': 1, 'melon': 5}
```

In [ ]:
fruit = ['apple','banana','banana','blueberry','melon','banana','melon',
         'melon','apple','apple','melon','melon','apple','apple']

In [ ]:
fruit_dict =

### Q2. 음료이름과 가격,재고가 담긴 사전 `a` 에서 다음 조건을 만족하는 음료를 출력해주세요! 

- key : 음료이름, value : `[가격, 재고]`
- 조건 : 재고가 100개 이상이면서, 가격이 2500원 초과


```
# 정답
바닐라라떼
```

In [ ]:
a = {'아메리카노': [1900,50], '카페모카': [3300,99], '에스프레소': [1900,165], '카페라떼': [2500,55], '카푸치노': [2500,150], '바닐라라떼': [2900,200]}

### Q3. 총 4명의 수강생의 출석여부를 다음과 같이 기입하고 있습니다. 
- 결석 :  'A' 
- 지각 :  'L'
- 출석 :  'P'

총 10일치를 기록한 출석부에서 다음과 같은 기준을 만족하면 'F'를 주고, 그 외의 경우는 'S' 를 주려고 해요. 
- [1] 1번 초과해서 결석한 경우
- [2] 3번 연속해서 지각한 경우

각 학생의 출석 Grade 를 구해주세요!

```
# 정답 
Ailee, F
Bob, F
Chris, S
David, F
```

In [ ]:
# 이 문제는 함수를 이용해 풀어주세요!
# check() 함수를 정의해 주세요.
# 매개변수: 출석부(ex. 'AAPPP...')


# 학생들의 출석부예요.
Ailee = 'AAPPPPPPPP'
Bob = 'PPPLLLPPPP'
Chris = 'APPPPPLLPP'
David = 'PPPLLLAAPP'

### Q4. scores 라는 변수에 10명 학생에 대한 국어, 수학, 영어, 사회, 과학 시험 성적이 있습니다. 이 때, 
- [1] 각 과목의 성적의 평균 점수
- [2] 각 학생의 과목 평균 점수

를 구해주세요!

```
# 정답 
# [1] 
52.1, 53.0, 41.0, 56.0, 52.8

# [2]
59.0, 82.8, 33.8, 57.6, 33.6, 74.8, 37.0, 31.4, 44.4, 55.4
```

In [ ]:
## 이 셀의 코드는 고치면 안됩니다!
scores = [[28, 81, 75, 39, 10, 99, 20, 83, 11, 75],
          [52, 97, 36, 82, 46, 24, 4, 25, 83, 81],
          [99, 77, 11, 58, 14, 79, 9, 1, 52, 10],
          [45, 80, 47, 72, 98, 100, 62, 1, 43, 12],
          [71, 79, 0, 37, 0, 72, 90, 47, 33, 99]]

In [ ]:
## 아래에 정답을 구하는 코드를 작성해주세요.

### Q5. 클래스 만들기. 
가로, 세로 정보을 갖고, 사각형의 면적을 계산하는 메서드를 갖는 Rectangle 클래스를 정의하고, 생성한 객체의 사각형의 면적을 출력하는 프로그램을 작성해주세요.

In [ ]:
## 클래스 작성




## 아래 코드는 수정하면 안됩니다!
s1 = Rectangle(4,5)
print(s1.width, s1.height) # 4, 5
s1.getArea() # s1 의 width 와 height 를 이용해서 면적을 구하는 메소드입니다!
print(s1) # s1 의 면적이 출력되어야함

### Q6. 에러 고치기.

아래 셀들은 다 동작하지 않는 코드예요. 아래 코드가 정상적으로 동작할 수 있도록 코드를 수정해봅시다 !

In [ ]:
# 0부터 9까지의 수가 짝수인지 홀수인지 구별해주는 반복문입니다.
for i in range(10):
    if i % 2 == 0:
        print('짝수')
    else:
    print('홀수')

In [ ]:
# 0부터 9까지 문자열을 출력하는 프로그램이에요.
for i in 10:
    print(i + "마리 아기 고양이")

In [ ]:
# 0부터 9까지의 수중 3의 배수를 출력하는 반복문입니다.
for i in range(10):
    if i % 3 = 0:
        print(i, '는 3의 배수')

In [ ]:
# divisor 라는 함수는 n 을 매개변수로 받고, n 이라는 수의 약수의 개수를 반환해주는 함수입니다.
def divisor(n) :
    result = ""
    for i in range(0, n) :
        mod = n % i
        if mod = 0 :
            resutl.append(n)
            
    return result

# [1, 2, 3, 4, 6, 12] 가 출력돼야 해요.
print(divisor(12))

In [ ]:
a = [1,2,3,4,5,6,7,8,9]
b = [20,3012,3,12,3,23,1]

print(a[1]) 
print(b[2])
print(a[9])
print(b[-1])

In [ ]:
a = 1.0
b = 2

print(a + b)

a = '1'
c = 1
print( a + c)

### 미션. 
`numpy` 라이브러리를 import 해서 아래 `data` 변수를 numpy array 로 바꾸고, data 의 평균, 전체 합을 구해주세요!

In [ ]:
# numpy 라이브러리를 import 해주세요! 
# *주의 아래 코드에서 numpy 라이브러리를 np 라는 약자로 부르고 있습니다!


data = [1,2,3,4,5,6,7,8]
data = np.array(data) # data 의 list 를 numpy array 로 만들어주는 함수입니다!

## 아래에 data의 합과 평균을 구하는 코드를 작성해주세요!