<a href="https://colab.research.google.com/github/JeromeCheon/gcs_AIproject/blob/master/assignments/1st_python_tutorial_quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Q1. fruit 이라는 list 안에 다양한 과일이 들어가 있어요. 이 과일들이 몇개 있는지를 dictionary 형태로 저장해봅시다! 

- key : 과일이름, value : 과일개수

```
# 정답
{'apple': 5, 'banana': 3, 'blueberry': 1, 'melon': 5}
```

In [2]:
fruit = ['apple','banana','banana','blueberry','melon','banana','melon',
         'melon','apple','apple','melon','melon','apple','apple']

### Ans1

In [18]:
def count_fruits(fruit):
  fruit_keys = list(set(fruit))
  fruit_dict = { x : fruit.count(x) for x in fruit_keys }
  print(fruit_dict)

In [19]:
count_fruits(fruit)

{'apple': 5, 'blueberry': 1, 'banana': 3, 'melon': 5}

### Q2. 음료이름과 가격,재고가 담긴 사전 `a` 에서 다음 조건을 만족하는 음료를 출력해주세요! 

- key : 음료이름, value : `[가격, 재고]`
- 조건 : 재고가 100개 이상이면서, 가격이 2500원 초과


```
# 정답
바닐라라떼
```

### Ans2

In [22]:
a = {'아메리카노': [1900,50], '카페모카': [3300,99], '에스프레소': [1900,165], '카페라떼': [2500,55], '카푸치노': [2500,150], '바닐라라떼': [2900,200]}

In [37]:
def baverage_with_condition(dictionary, stock, price):
  for beverage, info in dictionary.items():
    if info[1] >= stock and info[0] > price:
      return beverage

In [38]:
print(baverage_with_condition(a, 100, 2500))

바닐라라떼

### Q3. 총 4명의 수강생의 출석여부를 다음과 같이 기입하고 있습니다. 
- 결석 :  'A' 
- 지각 :  'L'
- 출석 :  'P'

총 10일치를 기록한 출석부에서 다음과 같은 기준을 만족하면 'F'를 주고, 그 외의 경우는 'S' 를 주려고 해요. 
- [1] 1번 초과해서 결석한 경우
- [2] 3번 연속해서 지각한 경우

각 학생의 출석 Grade 를 구해주세요!

```
# 정답 
Ailee, F
Bob, F
Chris, S
David, F
```

### Ans3

In [59]:
# 이 문제는 함수를 이용해 풀어주세요!
# check() 함수를 정의해 주세요.
# 매개변수: 출석부(ex. 'AAPPP...')
def check(person):
  if 'A' in person:
    first_cond = person.split('A')
    if len(first_cond) > 2:
      return 'F'

  elif 'LLL' in person:
      return 'F'
  
  return 'S'

# 학생들의 출석부예요.
Ailee = 'AAPPPPPPPP'
Bob = 'PPPLLLPPPP'
Chris = 'APPPPPLLPP'
David = 'PPPLLLAAPP'

In [60]:
print("Ailee, ", check(Ailee))
print("Bob, ", check(Bob))
print("Chris, ", check(Chris))
print("David, ", check(David))

Ailee,  F
Bob,  F
Chris,  S
David,  F

### Q4. scores 라는 변수에 10명 학생에 대한 국어, 수학, 영어, 사회, 과학 시험 성적이 있습니다. 이 때, 
- [1] 각 과목의 성적의 평균 점수
- [2] 각 학생의 과목 평균 점수

를 구해주세요!

```
# 정답 
# [1] 
52.1, 53.0, 41.0, 56.0, 52.8

# [2]
59.0, 82.8, 33.8, 57.6, 33.6, 74.8, 37.0, 31.4, 44.4, 55.4
```

In [71]:
## 이 셀의 코드는 고치면 안됩니다!
scores = [[28, 81, 75, 39, 10, 99, 20, 83, 11, 75],
          [52, 97, 36, 82, 46, 24, 4, 25, 83, 81],
          [99, 77, 11, 58, 14, 79, 9, 1, 52, 10],
          [45, 80, 47, 72, 98, 100, 62, 1, 43, 12],
          [71, 79, 0, 37, 0, 72, 90, 47, 33, 99]]

### Ans4

In [79]:
## 아래에 정답을 구하는 코드를 작성해주세요.
average_per_subject = [sum(x)/len(x) for x in scores]
print(average_per_subject)

average_per_person = []
tem = 0
for x in range(len(scores[0])):
  for y in range(len(scores)):
    tem += scores[y][x]
  average_per_person.append(tem/len(scores))
  tem = 0


print(average_per_person)

[52.1, 53.0, 41.0, 56.0, 52.8]
[59.0, 82.8, 33.8, 57.6, 33.6, 74.8, 37.0, 31.4, 44.4, 55.4]

### Q5. 클래스 만들기. 
가로, 세로 정보을 갖고, 사각형의 면적을 계산하는 메서드를 갖는 Rectangle 클래스를 정의하고, 생성한 객체의 사각형의 면적을 출력하는 프로그램을 작성해주세요.

In [100]:
## 클래스 작성
class Rectangle:
  def __init__(self, width, height):
    self.width = int(width)
    self.height = int(height)
    self.area = self.width * self.height
  
  def getArea(self):
    return print(self.width * self.height)
  
  def __str__(self):
    return str(self.area)


## 아래 코드는 수정하면 안됩니다!
s1 = Rectangle(4,5)
print(s1.width, s1.height) # 4, 5
s1.getArea() # s1 의 width 와 height 를 이용해서 면적을 구하는 메소드입니다!
print(s1) # s1 의 면적이 출력되어야함

4 5
20
20

### Q6. 에러 고치기.

아래 셀들은 다 동작하지 않는 코드예요. 아래 코드가 정상적으로 동작할 수 있도록 코드를 수정해봅시다 !

In [104]:
# 0부터 9까지의 수가 짝수인지 홀수인지 구별해주는 반복문입니다.
for i in range(10):
    if i % 2 == 0 and i != 0:
        print('짝수')
    elif i == 0:
        print("0")
    else:
        print('홀수')

0
홀수
짝수
홀수
짝수
홀수
짝수
홀수
짝수
홀수

In [106]:
# 0부터 9까지 문자열을 출력하는 프로그램이에요.
for i in range(10):
    print(i , "마리 아기 고양이")

0 마리 아기 고양이
1 마리 아기 고양이
2 마리 아기 고양이
3 마리 아기 고양이
4 마리 아기 고양이
5 마리 아기 고양이
6 마리 아기 고양이
7 마리 아기 고양이
8 마리 아기 고양이
9 마리 아기 고양이

In [108]:
# 0부터 9까지의 수중 3의 배수를 출력하는 반복문입니다.
for i in range(10):
    if i % 3 == 0 and i != 0:
        print(i, '는 3의 배수')

3 는 3의 배수
6 는 3의 배수
9 는 3의 배수

In [119]:
# divisor 라는 함수는 n 을 매개변수로 받고, n 이라는 수의 약수의 개수를 반환해주는 함수입니다.
def divisor(n) :
    result = []
    for i in range(1, n+1) :
        mod = n % i
        if mod == 0 :
            result.append(i)
            
    return result

# [1, 2, 3, 4, 6, 12] 가 출력돼야 해요.
print(divisor(12))

[1, 2, 3, 4, 6, 12]

In [120]:
a = [1,2,3,4,5,6,7,8,9]
b = [20,3012,3,12,3,23,1]

print(a[1]) 
print(b[2])
print(a[8])
print(b[-1])

2
3
9
1

In [121]:
a = 1.0
b = 2

print(a + float(b))

a = '1'
c = 1
print( int(a) + c)

3.0
2

### 미션. 
`numpy` 라이브러리를 import 해서 아래 `data` 변수를 numpy array 로 바꾸고, data 의 평균, 전체 합을 구해주세요!

In [123]:
# numpy 라이브러리를 import 해주세요! 
# *주의 아래 코드에서 numpy 라이브러리를 np 라는 약자로 부르고 있습니다!
import numpy as np

data = [1,2,3,4,5,6,7,8]
data = np.array(data) # data 의 list 를 numpy array 로 만들어주는 함수입니다!

## 아래에 data의 합과 평균을 구하는 코드를 작성해주세요!
data_sum = np.sum(data)
data_average = np.average(data)
print(f"합계: {data_sum}, 평균: {data_average}")

합계: 36, 평균: 4.5

In [124]:
name = "천재홍"
company = "케이존"
print("글창사 AI 프로젝트 참가하는 {} 의 개발자 {} 과제 1 제출합니다. 감사합니다. ".format(company, name))

글창사 AI 프로젝트 참가하는 케이존 의 개발자 천재홍 과제 1 제출합니다. 감사합니다.